body{
   font-size: 100%;
}

#title{
    text-decoration:underline;
}

ul{
    list-style-type: none;
}


.contents_list{
    text-align: left;
    background-color: aqua;
    width: 20%;
}

.contents_ul{
    text-align: left;
    padding-left: 0;
}

.contents_detail{

    background-color: orange;
    margin-top: 0;
    width: 80%;
}

.content{
    display: flex;
}


.cmd-table{
    width: 50%;
    border-collapse: collapse;
    margin-left: 10px;

}

.cmd-table th,
.cmd-table td{
border: 1px solid #000;
padding: 10px;
}